.button{
    background-color: rgb(179, 148, 208);
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
}
.buttonCancel{
    background-color: rgb(179, 148, 208);
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
}
.button:hover{
    background-color: rgb(161, 40, 40);
}
.buttonCancel:hover{
    background-color: rgb(64, 64, 173);
}

.backdrop{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    box-shadow: 5px 5px 60px rgba(70, 23, 101, 0.304);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 300; 
}
.modal {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1001; 
  }