.form  {
    border: solid 1px black;
    border-radius: 5px;
    width: 330px;
    height: 230px; 
    text-align: left;
    padding-left: 20px;
    box-shadow: 5px 5px 60px rgba(70, 23, 101, 0.304);
}
  
  label {
    display: block;
    color: #090202;
    margin-top: 10px;
   font-weight: 500;
  }
  
.input {
    padding: 8px;
    width: 280px;
  }
  .add{
    border: solid 1px #1a062a;
    margin-top: 8px;
    margin-left: 97px;
    background-color: rgb(229, 203, 253);
  }
  .add:hover{
    background-color: rgb(142, 78, 198);
  }
  .section{
    margin-top: 30px;
    margin-left: 30px;
  }
  